www/application/cache/*.
www/avatars/*
www/portfolio/*
www/tmp/*
www/ses/*
www/application/log/
www/application/config/config.php
www/application/config/database.php
1.bat
2.bat
.gitignore
memory
.auto_commit.rb
.last_commit
www/подсказки
www/_struct
auth
